<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <table>
            <form name="form" method="POST" action="/write">
            <tr>
                <td>작성자</td>
                <td><input type="text" name="name"></td>
            </tr> 
            <tr>
                <td>제목</td>
                <td><input type="text" name="title"></td>
            </tr> 
            <tr>
                <td>내용</td>
                <td><textarea name="contents"></textarea></td>
            </tr> 
            <tr>
                <td colspan="2"><input type="submit"></td>
            </tr>
            </form>
        </table>
    </body>
</html>