{% extends "main.html" %}

{% block contents %}
<script>
    funtion checkForm(){
        if($.trim($("#name").val()) == "") {
            alert("이름을 입력하세요!");
            $("#name").focus();
            return false;
        }
        if($.trim($("#email").val()) == "") {
            alert("이메일을 입력하세요!");
            $("#email").focus();
            return false;
        }
        if(!validateEmail($.trim($("#email").val()))){
            alert("이메일 유효성이 올바르지 않습니다!");
            $("#email").focus();
            return false;
        }
        if($.trim($("#pass1").val()) == "") {
            alert("비밀번호를 입력하세요!");
            $("#pass1").focus();
            return false;
        }
        if($.trim($("#pass2").val()) == "") {
            alert("비밀번호를 입력하세요!");
            $("#pass2").focus();
            return false;
        }
        if($.trim($("#pass1").val()) != $.trim($("#pass2").val())) {
            alert("비밀번호가 일치하지 않습니다.");
            $("#pass2").selece().focus();
            return false;
        }
    }
</script>
<table>
    <form name="form" action="{{url_for('member.member_join')}}" method="POST" onsubmit="return checkForm()">
        <thead>
            <caption>회원가입</caption>
        </thead>
        <tbody>
            <tr>
                <td>이름</td>
                <td><input type="text" name="name" id="name"></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="text" name="email" id="email"></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" name="pass" id="pass1"></td>
            </tr>
            <tr>
                <td>비밀번호 확인</td>
                <td><input type="password" name="pass2" id="pass2"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="가입하기"></td>
            </tr>
        </tbody>
    </form>
</table>
{% endblock %}