{% extends "main.html" %}

{% block contents %}
<script>
    $(document).ready(function() {
        $('#summernote').summernote({
            height: 300,
            minHeight: null,
            maxHeight: null,
            lang : 'ko-KR',
            popover: {
                image: [],
                link: [],
                air: []
            },
            callbacks: {
                onImageUpload: funtion(image) {
                    for(var i = 0; i < image.length; i++){
                        uploadImage(image[i]);
                    }
                }
            }
        });
    });

    funtion uploadImage(image){
        var data = FormData();
        data.append("image", image);
        $.ajax({
            url: {{}}
        });
    }

</script>

<script>
    funtion checkForm(){
        if($.trim($("#title").val()) == ""){
            alert("제목을 입력하세요!");
            $("#title").focus();
            return false;
        }
        if($.trim($("#summernote").val()) == ""){
            alert("내용을 입력하세요!");
            $("#summernote").focus();
            return false;
        }
    }
</script>

<form name="form" method="POST" action="{{url_for('board.board_write')}}" onsubmit="return checkForm()">
    <div class="form-group">
        <label for="name">작성자</label>
        <input class="form-control" id="name" type="text" name="name" value="{{session['name']}}" readonly>
    </div>
    <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요..">
    </div>
    <div class="form-group">
        <label for="contents">내용</label>
        <textarea class="form-control" rows="8" id="summernote" name="contents" placeholder="내용을 입력하세요.."></textarea>
    </div>
    <div class="text-center"><input class="btn btn-primary" type="submit" value="작성하기"></div>
</form>


{% endblock %}